samigo/tool/src/java/samigo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:samigows" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:samigows" xmlns:intf="urn:samigows" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="urn:samigows" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Item">
    <sequence>
     <element name="itemid" nillable="true" type="xsd:string"/>
     <element name="itemtext" nillable="true" type="xsd:string"/>
     <element name="url" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfItem">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:Item[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchResponse">

      <wsdl:part name="searchReturn" type="impl:ArrayOfItem"/>

   </wsdl:message>

   <wsdl:message name="downloadResponse">

      <wsdl:part name="downloadReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="searchRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="downloadRequest">

      <wsdl:part name="in0" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="SamigoTool">

      <wsdl:operation name="search" parameterOrder="in0">

         <wsdl:input message="impl:searchRequest" name="searchRequest"/>

         <wsdl:output message="impl:searchResponse" name="searchResponse"/>

      </wsdl:operation>

      <wsdl:operation name="download" parameterOrder="in0 in1">

         <wsdl:input message="impl:downloadRequest" name="downloadRequest"/>

         <wsdl:output message="impl:downloadResponse" name="downloadResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SamigoToolServiceSoapBinding" type="impl:SamigoTool">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:samigows" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:samigows" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="download">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="downloadRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:samigows" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="downloadResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:samigows" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SamigoToolService">

      <wsdl:port binding="impl:SamigoToolServiceSoapBinding" name="SamigoToolService">

         <wsdlsoap:address location="http://sakai-dev5.stanford.edu:8080/samigo/services/SamigoToolService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
